# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
Ulysses Aaron D. Page

**Objectives:**
- Python
- Java
- Julia

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include

1. MathPlotLib
2. SciPy
3. Tensor Flow

| Data Science Tools |
| --- |
| R Studio |
| Apache Spark |
| Tensor Flow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [33]:
#This will convert 200 minutes to hours by diving by 60
x=(200/60)
print(x, end="")
print(" hours")

3.3333333333333335 hours